.sp-input-with-picker {
	border-top: 1px solid lightgray;
	display: flex;
	padding: 5px;
}

.sp-input-with-picker .ant-input {
	border-left: none;
	border-right: none;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
	padding-left: 0;
	width: auto;
	flex-grow: 1;
	resize: none;
	/* font-size: 16px; */
}

.sp-input-with-picker button {
	border: none;
	background: none;
}
