.sp-chatbox-wrapper {
	position: fixed !important;
	bottom: 0 !important;
	top: unset !important;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	z-index: 100;
	/* overflow: hidden; */
	/* right resize needs overflow */
	height: 100%;
	width: 100%;
}
.ant-tabs-top-bar {
	/* cursor: move; */
}

.sp-icon-transition-duration-1 svg {
	/* transition-delay: 0.5s; */
	transition-duration: 0.5s;
}
.sp-icon-transition-duration-1:hover {
	transition-delay: 0s;
	transition-duration: 0s;
}
.sp-text-noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
/* .sp-all doesn't include .sp-modal because modal is inserted to document root */
/* restyle antd danger button */
.sp-all .ant-btn-danger,
.sp-modal .ant-btn-danger {
	color: unset;
	background: none;
	text-shadow: none;
	border: 1px solid lightgray;
}

.sp-all .ant-btn-danger:hover,
.sp-modal .ant-btn-danger:hover,
.sp-all .ant-btn-danger:focus,
.sp-modal .ant-btn-danger:focus {
	/* color: white; */
	/* background: red; */
	color: red;
	background: none;
	border: 1px solid red;
}

.sp-modal .ant-modal-content {
	position: fixed;
	height: 75%;
	top: 10% !important;
	left: 10%;
	right: 10%;
}
.sp-modal .ant-modal-body {
	max-height: calc(100% - 55px);
	overflow-y: auto;
}
.sp-modal .ant-modal-footer {
	background: white;
}
