.sp-chat-tabs .ant-tabs-left-bar {
	border: none;
}
.sp-chat-tabs .ant-tabs-nav-container {
	width: 150px;
}
.sp-chat-tabs .ant-tabs-left-bar .ant-tabs-tab {
	margin-bottom: 10px;
}

/* 
If want the ink to cover entire row
*/

/* .sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar {
	width: 5px;
	width: 100%;
	background: rgb(67, 158, 255);
}
.sp-chat-tabs .ant-tabs-nav .ant-tabs-tab-active {
	color: white;
	z-index:2;
} */
.sp-chat-tabs.sp-minimized .ant-tabs-left-bar .ant-tabs-nav-container {
	width: 83px;
}
/* .sp-chat-tabs.sp-minimized .ant-tabs-left-bar .ant-tabs-tab {
	padding: 0px 5px;
} */
