.sp-chat-tabs .ant-tabs .ant-tabs-left-bar {
	border: none;
	transition: 1s;
}
.sp-chat-tabs .ant-tabs-bar.ant-tabs-left-bar {
	max-width: 150px;
}
.sp-chat-tabs.minimized .ant-tabs-bar.ant-tabs-left-bar {
	/* have to use max-width so that transition animation works 
	 because we want to use max-width above
	*/
	max-width: 49px;
}
.sp-chat-tabs .ant-tabs-extra-content {
	margin-top: 20px;
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-content {
	padding: 0;
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar {
	/* width: 5px; */
	/* width: 100%; */
}
.sp-chat-tabs .ant-tabs-nav .ant-tabs-tab-active {
	/* color: white; */
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	padding: 9px 15px;
	/* z-index: 2; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sp-chat-tabs.minimized .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	/* padding: 9px 5px; */
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	margin: 0px;
}
.sp-chat-tabs {
	/* background: lightgray; */
}
