.sp-chat-tabs .ant-tabs .ant-tabs-left-bar {
	border: none;
	transition: 0.5s;
}
.sp-chat-tabs .ant-tabs-bar.ant-tabs-left-bar {
	max-width: 120px;
}
.sp-chat-tabs.minimized .ant-tabs-bar.ant-tabs-left-bar {
	/* have to use max-width so that transition animation works 
	 because we want to use max-width above
	*/
	max-width: 49px;
}
.sp-chat-tabs.closed .ant-tabs-bar.ant-tabs-left-bar {
	display: none;
}
.sp-chat-tabs .ant-tabs-extra-content {
	margin-top: 20px;
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-content {
	padding: 0;
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar {
	/* width: 5px; */
	/* width: 100%; */
}
.sp-chat-tabs .ant-tabs-nav .ant-tabs-tab-active {
	/* color: white; */
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	padding: 0px;
	font-size: 13px;
	line-height: 40px;
	/* z-index: 2; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab span {
	/* style for the span of tab name */
	padding: 15px;
	transition-duration: 0.1s;
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab span:hover {
	/* style for the span of tab name, on hover change color right away */
	transition-duration: 0s;
}

.sp-chat-tabs.minimized .ant-tabs .ant-tabs-left-bar .ant-tabs-tab span {
	/* style for the span of tab name, less padding so 
	1. fit two characters
	2. still some padding on left and right
	*/
	padding: 15px 5px;
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	margin: 0px;
}
.sp-icon-transition-duration-1 svg {
	transition-delay: 0.5s;
	transition-duration: 0.5s;
}
.sp-icon-transition-duration-1:hover {
	transition-delay: 0s;
	transition-duration: 0s;
}
.sp-chat-tabs {
	/* background: lightgray; */
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar .ant-btn {
	font-size: 15px;
}
