/* .sp-chat-tabs .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-wrap {
	background: white;
}

.sp-chat-tabs
	.ant-tabs-vertical.ant-tabs-card.ant-tabs-left
	.ant-tabs-card-bar.ant-tabs-left-bar
	.ant-tabs-tab {
	color: rgba(0, 0, 0, 0.65);
	background: white;
	padding: 10px 15px;
	margin: 0px;
}

.sp-chat-tabs
	.ant-tabs-vertical.ant-tabs-card.ant-tabs-left
	.ant-tabs-card-bar.ant-tabs-left-bar
	.ant-tabs-tab:hover {
	color: #1890ff;
}
.sp-chat-tabs
	.ant-tabs-vertical.ant-tabs-card.ant-tabs-left
	.ant-tabs-card-bar.ant-tabs-left-bar
	.ant-tabs-tab.ant-tabs-tab-active {
	color: #1890ff;
	font-weight: unset;
	margin: 0;
	padding: 10px 15px;
}
.sp-chat-tabs .ant-tabs-bar {
	margin: 0;
}
.sp-chat-tabs .ant-tabs .ant-tabs-left-bar {
	border: none;
}
.sp-chat-tabs .ant-tabs-nav-container {
	border-right: 1px solid #f0f0f0;
} */
