/* Need to specify height 100% to use flex style for 
header-body-footer with sticky header and footer*/

.sp-main-tabs,
.sp-main-tabs .ant-tabs,
.sp-main-tabs .ant-tabs-content,
.sp-main-tabs .ant-tabs-tabpane-active,
.sp-chat-tab {
	height: 100%;
}

.sp-main-tabs ::-webkit-scrollbar {
	/* width: 10px; */
}

/* Track */
.sp-main-tabs ::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 1px lightgray; */
}

/* Handle */
.sp-main-tabs ::-webkit-scrollbar-thumb {
	/* background: #1890ff; */
	/* background: rgba(0, 0, 0, 0.3); */
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}

.sp-main-tabs ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.5);
}

/* Only override tab style for card type (.ant-tabs-card) */
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab .anticon {
	margin-right: 5px;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
	margin-right: 0;
	/* padding: 8px 12px; */
	border: none;
	background: #1890ff;
	color: lightcyan;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-wrap {
	background: #1890ff;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:hover {
	background: #40a9ff;
	color: white;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab.ant-tabs-tab-active {
	/* background: white;
	color: #1890ff; */
	color: white;
	background: #096dd9;
	font-weight: unset;
}
.ant-tabs.ant-tabs-card .ant-tabs-bar {
	margin: 0;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-arrow-show {
	/* > .ant-tabs-bar to only apply to this tab bar, not child ones */
	background: #1990ff;
	color: white;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-arrow-show:hover {
	background: #40a9ff;
	color: white;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-next {
	right: 0px;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-prev,
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-next {
	width: 39px;
}

.ant-tabs.ant-tabs-card
	> .ant-tabs-bar
	.ant-tabs-tab-arrow-show.ant-tabs-tab-btn-disabled {
	color: lightgray;
}

/* Only override tab style for card type (.ant-tabs-card) END*/

.sp-flex-body {
	/* used in many tab body (inbox, chat etc.) */
	height: calc(100% - 38px);
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	flex: auto;
}

.sp-main-tabs .ant-alert-icon {
	left: 20px;
}

.sp-form {
	max-width: 300px;
	margin: auto;
	margin-top: 20px;
}

.sp-danger-btn {
	color: gray;
	background: none;
	border: none;
	box-shadow: none;
}

.sp-danger-btn:hover,
.sp-danger-btn:active,
.sp-danger-btn:focus {
	color: red;
}

.sp-new-message-dot .ant-badge-dot {
	/* margin-left: -5px; */
	right: 5px;
}

.sp-close-btn {
	color: lightblue;
	position: absolute;
	z-index: 1;
	padding: 12px;
	right: 0px;
}
.sp-close-btn:hover {
	/* background: #40a9ff; */
	cursor: pointer;
	color: white;
}
