/* Only override tab style for card type (.ant-tabs-card) */
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab .anticon {
	margin-right: 0;
	font-size: 17px;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
	margin-right: 0;
	border: none;
	background: #1890ff;
	color: white;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-wrap {
	background: #1890ff;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:hover {
	background: #40a9ff;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab.ant-tabs-tab-active {
	background: white;
	color: #1890ff;
}
.ant-tabs.ant-tabs-card .ant-tabs-bar {
	margin: 0;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-arrow-show {
	/* > .ant-tabs-bar to only apply to this tab bar, not child ones */
	background: #1890ff;
	color: lightgray;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-arrow-show:hover {
	background: #40a9ff;
	color: white;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-next {
	right: 0px;
}
/* Only override tab style for card type (.ant-tabs-card) END*/

.sp-tab-header {
	border-bottom: 1px solid lightgray;
	padding: 0px 15px;
	line-height: 40px;
	height: 40px;
	text-align: center;
	white-space: nowrap;
}
.sp-tab-header .ant-btn {
	background: none;
	border: none;
	box-shadow: none;
}

/* Style for left tab bar, used in chat tab and inbox tab */
.ant-tabs-left-bar .ant-btn {
	background: none;
	border: none;
	box-shadow: none;
	font-size: 13px;
	padding: 0px 10px;
}
.ant-tabs-left-bar .ant-btn-dangerous {
	color: unset;
}
.ant-tabs-left-bar .ant-btn-dangerous:hover {
	color: red;
}
.closed .ant-tabs-left-bar {
	display: none;
}
.ant-tabs-left-bar .ant-tabs-extra-content {
	margin-top: 20px;
}
.ant-tabs .ant-tabs-left-content {
	padding: 0;
}
.sp-main-tabs .ant-tabs-left-bar .ant-tabs-tab {
	padding: 0px 15px;
	font-size: 13px;
	line-height: 40px;
	z-index: 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sp-main-tabs .ant-tabs-left-bar .ant-tabs-nav-container {
	transition: 0.8s;
}
.sp-minimized .ant-tabs-left-bar .ant-tabs-nav-container {
	width: 50px;
}
.sp-minimized .ant-tabs-left-bar .ant-tabs-tab {
	padding: 0px 5px;
}
