.sp-vertical-tab-name .sp-tab-name,
.sp-vertical-tab-name .sp-float-right-extra {
	line-height: 40px;
}
.sp-vertical-tab-name.large .sp-tab-name,
.sp-vertical-tab-name.large .sp-float-right-extra {
	line-height: 30px;
	margin-top: 5px;
}
.sp-vertical-tab-name .sp-tab-text {
	padding: 0px 7px;
}

/* 
	.sp-minimized .sp-vertical-tab-name.large is
	special case for user name in inbox tab left bar 
	Maybe shouldn't have shared the Tabname component,
	such case is a headache
*/
.sp-minimized .sp-vertical-tab-name.large .sp-tab-text {
	text-align: center;
}
.sp-minimized .sp-vertical-tab-name.large .sp-tab-name {
	line-height: normal;
	font-size: 12px;
	margin-top: 0px;
}

.sp-vertical-tab-name img {
	width: 30px;
	height: 30px;
	border-radius: 3px;
	object-fit: cover;
	float: left;
	margin: 5px;
}

.sp-vertical-tab-name.large img {
	width: 40px;
	height: 40px;
	margin: 10px 3px 5px 5px;

	border-radius: 100%;
	/* transition: 0.5s; */
}
.sp-minimized .sp-vertical-tab-name.large img {
	width: 30px;
	height: 30px;
	margin-left: 20px;
}
.sp-minimized .sp-vertical-tab-name img {
	float: unset;
}
.sp-vertical-tab-name .sp-tab-name,
.sp-vertical-tab-name .sp-tab-description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sp-vertical-tab-name .sp-tab-description {
	line-height: normal;
	color: gray;
	font-size: 12px;
}
.sp-vertical-tab-name .sp-float-right-extra {
	/* float: right; */
	position: absolute;
	right: 10px;
	color: gray;
	font-size: smaller;
	/* margin-right: 10px; */
}
