.sp-main-tabs .sp-inbox-tabs .ant-tabs-left-bar .ant-tabs-nav-container {
	width: 238px;
	/* width: 50%; */
	transition: 0.5s;
}

.sp-inbox-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	overflow: hidden;
	height: 78px;
}

.sp-inbox-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	text-align: left;
}

.sp-inbox-tabs .ant-tabs-nav .ant-tabs-tab-active,
.sp-inbox-tabs .ant-tabs-nav .ant-tabs-tab:hover {
	color: unset;
}

.sp-inbox-tabs.sp-minimized .ant-tabs-left-bar .ant-tabs-nav-container {
	width: 70px;
}
