/* .sp-inbox-tabs .ant-tabs-left-bar .ant-tabs-nav-container {
	width: 158px;
	transition: 0.5s;
} */

.sp-inbox-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	overflow: hidden;
	height: 65px;
}

.sp-inbox-tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	text-align: left;
}

.sp-inbox-tabs .ant-tabs-nav .ant-tabs-tab-active,
.sp-inbox-tabs .ant-tabs-nav .ant-tabs-tab:hover {
	color: unset;
}

.sp-inbox-tabs:not(.sp-minimized) .sp-vertical-tab-name.large .sp-tab-name {
	font-weight: 500;
}
