.sp-tab-content-header {
	line-height: 40px;
	border-bottom: 1px solid lightgray;
	padding: 0 5px;
}
.sp-tab-content-header .sp-header-right-items {
	float: right;
	color: gray;
	font-size: 13px;
}

.sp-tab-content-header .ant-select {
	color: unset;
	font-size: unset;
}

.sp-tab-content-header .ant-btn,
.sp-tab-content-header .ant-btn-icon-only > * {
	background: none;
	border: none;
	box-shadow: none;
	font-size: unset;
	padding: 0px 10px;
}
.sp-tab-content-header .ant-btn:not(:hover),
.sp-tab-content-header .ant-btn-icon-only:not(:hover) > * {
	color: unset;
}

.sp-tab-content-header .ant-btn-dangerous {
	color: unset;
}
.sp-tab-content-header .ant-btn-dangerous:hover {
	color: red;
}
