.sp-room-tab {
	/* background-color: rgb(243, 243, 243); */
	/* width: 100%; */
	/* height: 100%; */
	/* min-height: 500px; */
}

.sp-room-alert.sp-alert-float.ant-alert {
	position: absolute;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #ffe58f;
}
.sp-room-alert .ant-alert-message {
	color: gray;
	/* text-align: center; */
}
.sp-room-users-popover.ant-popover {
	/* this popover can open modal so it should be behind the newly opened modal */
	z-index: 1000;
}
