.sp-room-tab .sp-room-name {
	max-width: calc(100% - 160px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: none;
}
.sp-closed .sp-room-tab .sp-room-name {
	max-width: calc(100% - 235px);
}

.sp-room-alert.sp-alert-float.ant-alert {
	position: absolute;
	width: 100%;
	top: 41px;
	z-index: 1;
	border-bottom: 1px solid #ffe58f;
}
.sp-room-alert .ant-alert-message {
	color: gray;
	/* text-align: center; */
}
.sp-room-users-popover.ant-popover {
	/* this popover can open modal so it should be behind the newly opened modal */
	/* z-index: 1001; */
}

.ant-popover {
	/* in chat view, message menu popover shows above image modal sometimes */
	z-index: 1000;
}
