.sp-chat-tabs .sp-chat-tab-title {
	/* style for the span of tab name */
	padding: 10px 0px;
}

.sp-chat-tabs .ant-tabs-nav-container img {
	display: none;
}
.sp-chat-tabs.minimized .ant-tabs-nav-container img {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 3px;
	object-fit: cover;
}
.sp-chat-tabs .sp-chat-tab-title img.sp-loadable-img + span {
	margin-left: 10px;
}
.sp-chat-tabs.minimized .sp-chat-tab-title img.sp-loadable-img + span {
	/* when minimized, don't show room name text if there's icon for room */
	display: none;
}
